body {
	padding:0px;
	margin:0px;	
	font-family: Verdana, Arial, Comic Sans MS;
	font-size: 11px;w1
	background-color:#FFF;
}
#topo{ 
	background-color: #FFFFCC;
	color: #000;
	float:left;
	width:100%;
	text-align:center;
	border-bottom:#F2F2F2 solid 1px;
	text-align:center;
	min-height:120px;
	padding-top:40px;
}
#corpo{
	float:left;
	width:100%;
	min-height:250px;
	color:#000;
}
#rodape{
	background-color:#CCC;
	border-top:#F2F2F2 solid 2px;
	color: #000;
	float:left;
	width:96%;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:2%;
	padding-right:2%;
	text-align:center;
	bottom:0px;
	position:absolute;
}
.tabela{
  background-color: #F2F2F2;
  border:#CCC solid 1px;
  margin:0 auto;
  width:500px;
  min-height:200px;
}

#botaoContato{
  display:block;
  left:00px;
  top:200px;
  color:#000;
  position:absolute;
  width:21px;
  height:65px;
  cursor:pointer;
  background-image:url('/static/imgs/contato.png');
}


#dadosContato{
  display:none;
  left:20px;
  top:200px;
  padding:10px;
  background-color:#FFFF99;
  border:#FFFF66 solid 2px;
  color:#000;
  position:absolute;
  
}