<!DOCTYPE HTML PUBLIC"-­‐//W3C//DTD	HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br"> 
  <head> 
   
    <!-- Formato --> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"> 
 
  <title>EventeX</title>
  
    <!-- Descrição do site --> 
    <meta name="description" content="EventeX - Lugar de entreterimento"> 
    <meta name="keywords" content="EventeX - Lugar de entreterimento"> 
 
    <!-- Localização do site --> 
    <meta http-equiv="Content-language" content="pt-BR"> 
 
    <!-- Icone do site --> 
    <link Href="{{ STATIC_URL }}imgs/icone2.png" Rel="Add Icon" > 
    <link Href="{{ STATIC_URL }}imgs/icone2.png" Rel="Shortcut Icon" > 
    <link href="{{ STATIC_URL }}imgs/icone2.png" Rel="Icon" type="image/png"> 
 
 
    <!-- CSS do site --> 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css"> 
 
    <!-- JavaScript --> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.funcoes.js"></script> 

</head>
<body>

  <div id="botaoContato">&nbsp;</div>
  <div id="dadosContato"> 	  
		  <p><b>Telefone:</b> (99) 9999-9999</p>
		  <p><b>E-mail:</b> contato@eventex10.com</p>  
	</div>

	<div id="topo">
	    <img src="{{ STATIC_URL }}imgs/logo2.png" />
	</div>
	<div id="corpo">
		  
		<div>&nbsp;</div>
		<div class="tabela">
		  <p>&nbsp;</p>		  
		  <p align="center"><b>Site em construção!</b></p>
		  <p>&nbsp;</p>		  
		  <p align="center">Para mais informações clique no botão de contato</p>
		  <p>&nbsp;</p>		
    </div>  	  

		  
	</div>
	<div id="rodape">2010 Desenvolvido por <b>Willem</b> - Todos os direitos reservados.</div>

</body>
</html>